<div class="row justify-content-center align-items-center g-2">
    <div class="col">
        <h1 class="text-center">This is home page</h1>


        <!-- Hover added -->
        <div class="list-group">
            <a href="/admin" class="list-group-item list-group-item-action active">Admin page</a>
            <a href="/admin/product-management" class="list-group-item list-group-item-action">Product Management</a>
            <a href="/admin/account-management" class="list-group-item list-group-item-action">Account Management</a>
        </div>
    </div>
</div>